%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et
%{cover_enabled, true}.

{deps, 
 [
  {amqp_client, ".*", 
   {git, "https://github.com/stwind/amqp_client.git",{branch, "master"}}},
  {sync, ".*", 
   {git, "https://github.com/rustyio/sync.git",{branch, "master"}}}
 ]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{erl_opts, [
    %warn_missing_spec
]}.

{ct_extra_params, ""}.
%
{clean_files, [
    "test/*.beam",
    "erl_crash.dump",
    "*.coverdata",
    "logs"
  ]}.

{edoc_opts, 
 [
  {def, [ ]},
  {layout, edown_layout},
  {doclet, edown_doclet},
  {app_default, "http://www.erlang.org/doc/man"},
  {stylesheet, ""},
  {image, ""},
  {pretty_printer, erl_pp}
 ]}.

{xref_checks, [undefined_function_calls]}.

{xref_queries, [
    {"((XC - UC) || (XU - X - B))", []},
    {"(L - LU)", []}
  ]}.
